*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

:root {
	--primary: #6a59ff;
	--white: #ffffff;
	--bg: #f5f5f5;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 1.3rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background: #797979;
	transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: #222224;
}

::-webkit-scrollbar-track {
	background: #f9f9f9;
}

body {
	font-size: 1.6rem;
	/* background: var(--bg); */
}

#root {
	background: #1a1a1a;
}

.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.add {
	padding: 1rem;
	font-size: 3rem;
	color: #6a59ff;
	position: absolute;
	top: 1rem;
	right: 1rem;
	transition: all 150ms;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.add:onclick {
	color: #00ff00;
}

.container {
	max-width: 124rem;
	padding: 4rem 1rem;
	margin: 0 auto;
	background-color: #222224;
	z-index: 10;
}

.heading {
	margin: 3rem auto;
	display: block;
	font-size: 3.5rem;
	text-align: center;
	background-color: #1a1a1a;
	color: #6a59ff;
}

/* ------SWIPER NPM STYLING REVAMPED FOR MOVIEDB-------  */
.swiper_container {
	/* height: 52rem; */
	padding: 2rem 0;
	position: relative;
}

.swiper-slide {
	width: 100% !important;
	height: auto;
	position: relative;
	object-fit: cover;
}

.swiper-slide img {
	object-fit: cover;
	width: 100%;
	/* height: 40vh; */
	/* border-radius: 32px; */
}

.slider-controler {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	width: 100%;
	justify-content: space-between;
	z-index: 100;
}

.slider-controler .swiper-button-next,
.slider-controler .swiper-button-prev {
	background: var(--white);
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.swiper-container:hover .slider-controler .swiper-button-next,
.swiper-container:hover .slider-controler .swiper-button-prev {
	background: rgba(255, 255, 255, 0.8);
}

.swiper-controler .swiper-button-next {
	right: 2%;
}

.swiper-controler .swiper-button-prev {
	left: 2%;
}

.swiper-controler .swiper-button-next::after,
.swiper-controler .swiper-button-prev::after {
	content: '';
}

.swiper-controler .swiper-button-next ion-icon,
.swiper-controler .swiper-button-prev ion-icon {
	font-size: 2rem;
	color: #222224;
}

.slider-controler .slider-arrow {
	background: var(--white);
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	/* left: 42%;
	transform: translateX(-42%); */
	filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
	font-size: 2rem;
	color: #222224;
}

.swiper-pagination {
	position: relative;
	width: 15rem !important;
	bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
	filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
	background: var(--primary);
}

/* ------HEADING TEXT ABSOLUTE TO SWIPER------  */

.discover-container {
	position: relative;
}

.textbox p {
	margin: 0;
	line-height: 1.5;
}

@media (min-width: 600px) {
	.textbox {
		position: absolute;
		transform: translateX(10%) translateY(40%);
		top: 0rem;
		width: 400px;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
		color: #fff;
		z-index: 1; /* Ensure it appears above the swiper slides */
	}
}

/* ------FAVOURITE SECTION STUFF-------  */
main {
	min-height: 100vh;
	width: 100%;
	text-align: center;
}

.error {
	position: absolute;
	margin-left: 0;
	margin-right: 0;
	left: 0;
	right: 0;
}

p {
	color: white;
}
