.img-container {
	position: relative;
	min-height: 70vh;
}

.backdrop-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
}

.backdrop {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 46px 9px 26px 27px rgba(0, 0, 0, 0.73);
	box-shadow: inset 190px 9px 26px 4px rgba(0, 0, 0, 0.73);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.individual-img {
	position: absolute;
	min-width: 200px;
	height: 300px;
	width: 200px;
	border-radius: 20px;
	z-index: 1;
	border-radius: 10px;
	bottom: 1rem;
	left: 1rem;
}

.trailer-button {
	color: #6a59ff;
	z-index: 1;
	position: absolute;
	right: 1rem;
	padding: 0.5rem;
	top: 7rem;
}

.trailer-icon {
	width: 40px;
	height: 40px;
}

.add-individual {
	position: absolute;
}

.detail-mobile,
.detail-desktop {
	background: rgba(255, 255, 255, 0.103);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding: 2rem;
}

.detail-desktop p,
.detail-mobile p {
	line-height: 1.9;
}

.individual-heading {
	font-size: 2rem;
	color: #6a59ff;
}

.cast-list {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.cast-image {
	width: 200px;
	height: 300px;
	object-fit: cover;
}

.cast-section {
	width: 90%;
	margin: 0 auto;
	overflow-x: auto;
}

.table-container {
	width: max-content;
}

.cast-table {
	border-collapse: collapse;
}

.cast-item {
	padding: 10px;
}

.cast-name {
	display: block;
	margin-top: 5px;
	color: white;
}

.detail-desktop {
	display: none;
}

.buttons-desktop {
	display: none;
}

@media (min-width: 635px) {
	.detail-mobile {
		display: none;
	}

	.buttons-desktop {
		display: block;
	}

	.buttons-mobile {
		display: none;
	}

	.detail-desktop {
		display: block;
		position: absolute;
		width: 400px;
		bottom: 1rem;
		right: 0;
		height: 300px;
		overflow: scroll;
		scrollbar-width: thin; /* thin scrollbar */
		scrollbar-color: #33333331 #05050524; /* scrollbar color */
	}

	.detail-desktop::-webkit-scrollbar {
		display: none;
	}

	/* Customize the scrollbar track */
	.detail-desktop::-webkit-scrollbar-track {
		background-color: #05050524; /* Match the container background color */
	}

	/* Customize the scrollbar thumb */
	.detail-desktop::-webkit-scrollbar-thumb {
		background-color: #333; /* Thumb color */
	}

	.detail-desktop p,
	.individual-heading {
		max-width: 300px;
	}
}

@media (min-width: 760px) {
	.detail-desktop {
		display: block;
		position: absolute;
		width: 500px;
		bottom: 1rem;
		right: 0;
	}

	.detail-desktop p,
	.individual-heading {
		max-width: 400px;
	}
}

@media (min-width: 975px) {
	.detail-desktop {
		display: block;
		position: absolute;
		width: 700px;
		bottom: 1rem;
		right: 0;
	}

	.detail-desktop p,
	.individual-heading {
		max-width: 600px;
	}
}
