.img-container {
	position: relative;
	min-width: 100vw;
	min-height: 70vh;
}

.backdrop-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
}

.backdrop {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 46px 9px 26px 27px rgba(0, 0, 0, 0.73);
	box-shadow: inset 190px 9px 26px 4px rgba(0, 0, 0, 0.73);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.individual-img {
	position: absolute;
	min-width: 200px;
	height: 300px;
	width: 200px;
	border-radius: 20px;
	z-index: 1;
	border-radius: 10px;
	top: 4rem;
	left: 1rem;
}

.trailer-button {
	color: #6a59ff;
	z-index: 1;
	position: absolute;
	right: 1rem;
	padding: 0.5rem;
	top: 7rem;
}

.trailer-icon {
	width: 40px;
	height: 40px;
}

.add-individual {
	position: absolute;
}

.detail {
	background: rgba(255, 255, 255, 0.103);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding: 2rem;
}

.detail p {
	line-height: 1.9;
}

.individual-heading {
	font-size: 2rem;
	color: #6a59ff;
}

.cast-list {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.cast-image {
	width: 200px;
	height: 300px;
	object-fit: cover;
}

.cast-section {
	width: 90%;
	margin: 0 auto;
	overflow-x: auto;
}

.table-container {
	width: max-content;
}

.cast-table {
	border-collapse: collapse;
}

.cast-item {
	padding: 10px;
}

.cast-name {
	display: block;
	margin-top: 5px;
	color: white;
}

@media (min-width: 815px) {
}
