.movie-card {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	width: 280px;
	margin: 0 auto;
}

.movie-card img {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease-in-out;
}
.movie-card:hover img {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.movie-container {
	background-color: #1a1a1a;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;
}

@media (min-width: 600px) {
	.movie-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
}

@media (min-width: 815px) {
	.movie-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
	}

	.movie-card {
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		width: 250px;
		margin: 0 auto;
	}

	.swiper-slide img {
		height: 70vh;
		object-position: top;
	}
}

@media (min-width: 1075px) {
	.movie-container {
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}

	.movie-card {
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		width: 250px;
		margin: 0 auto;
	}

	.swiper-slide img {
		height: 80vh;
		object-position: top;
	}
}

.movie-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	padding: 10px;
	box-sizing: border-box;
}
.movie-info h3 {
	font-size: 1.5rem;
}

.movie-card:hover .movie-info {
	opacity: 1;
}

.movie-info .overview {
	font-size: 12px;
}

.add {
	width: 50px;
}
