body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

label {
	display: flex;
	flex-direction: column;
	width: 50px; /* Adjust width of label */
	cursor: pointer;
}

label span {
	background: #fff;
	border-radius: 8px; /* Adjust border-radius */
	height: 5px; /* Adjust height of span */
	margin: 5px 0; /* Adjust margin */
	transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.bar:nth-of-type(1) {
	width: 50%; /* Adjust width of first span */
}

.bar:nth-of-type(2) {
	width: 100%; /* Adjust width of second span */
}

.bar:nth-of-type(3) {
	width: 70%; /* Adjust width of third span */
}

input[type='checkbox'] {
	display: none;
}

input[type='checkbox']:checked ~ span:nth-of-type(1) {
	transform-origin: bottom;
	transform: rotatez(45deg) translate(6px, 0px); /* Adjust translate values */
}

input[type='checkbox']:checked ~ span:nth-of-type(2) {
	transform-origin: top;
	transform: rotatez(-45deg);
}

input[type='checkbox']:checked ~ span:nth-of-type(3) {
	transform-origin: bottom;
	width: 50%; /* Adjust width of third span when checked */
	transform: translate(22px, -8px) rotatez(45deg); /* Adjust translate values */
}
